.cajaGenerarReporte {
  width: 100%;
  display: block;
  justify-content: center;
}
.cajaFormularioGenerarReporte {
  display: inline-block;
  width: 360px;
  height: auto;
  text-transform: uppercase;
  border-radius: 15px 15px;
  font-size: 30px;
  text-align: center;
  padding: 15px 15px;
  gap: 50px;
  align-items: center;
  align-content: center;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 500px;
  background-color: var(--colorOver);
}

.cajaFormularioGenerarReporte label {
  height: 80px;
  background-color: var(--colorFondo);
  font-size: 28px;
  text-align: center;
  align-items: center;
  align-content: center;
  box-shadow: var(--box-shadowInput);
}
.titulo label {
  font-size: 36px;
  width: 100%;
}
.cajaIngresodatos {
  gap: 10px;
}
.cajaIngresodatos input,
select {
  background-color: var(--colorFondoTexto);
  height: 80px;
  margin-bottom: 5px;
  box-shadow: var(--box-shadowInput);
}

input {
  height: 80px;
}
.cajaIngresodatos ::placeholder {
  font-size: 28px;
  color: gray;
  text-align: center;
}

.listaOpciones {
  height: 80px;
}
