/* Estilos generales */
.cajaGenerarReporte {
  width: 100%;
  display: block;
  justify-content: center;
}
.cajaFormularioGenerarReporte {
  display: inline-block;
  width: 390px;
  height: auto;
  text-transform: uppercase;
  border-radius: 15px 15px;
  font-size: 30px;
  text-align: center;
  padding: 10px 10px;
  gap: 50px;
  align-items: center;
  align-content: center;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 500px;
  background-color: var(--colorOver);
}

.cajaFormularioGenerarReporte label {
  height: 80px;
  background-color: var(--colorFondo);
  font-size: 28px;
  text-align: center;
  align-items: center;
  align-content: center;
  box-shadow: var(--box-shadowInput);
}
.titulo label {
  font-size: 36px;
  width: 100%;
}
.cajaIngresodatos {
  gap: 10px;
}
.cajaIngresodatos input,
select {
  background-color: var(--colorFondoTexto);
  height: 80px;
  margin-bottom: 5px;
  box-shadow: var(--box-shadowInput);
  font-size: 30px;
}

input {
  height: 80px;
}
.cajaIngresodatos ::placeholder {
  font-size: 28px;
  color: gray;
  text-align: center;
}
select {
  width: 100%;
  height: 80px;
  font-size: 24px;
  border-radius: 15px;
}
button {
  width: 100%;
  height: 80px;
  font-size: 24px;
  border-radius: 15px;
  margin-bottom: 5px;
}
.modal {
  position: absolute; /* Cambiado a absolute para posicionar el modal en relación al contenedor */
  top: 100%; /* Coloca el modal justo debajo del botón */
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegúrate de que el z-index sea mayor que el del botón */
  padding: 20px;
  border-radius: 8px;
}

.modalContent {
  background: black;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modalContent img {
  max-width: 100%;
  height: auto;
}

.modalContent button {
  margin: 10px;
}

.captureButton {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.captureButton:hover {
  background-color: #0056b3;
}

/* Responsividad para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .cajaFormularioGenerarReporte {
    margin-top: 150px;
    width: 700px;
    font-size: 24px;
    padding: 20px;
    gap: 30px;
  }

  .cajaFormularioGenerarReporte label {
    font-size: 42px;
  }
  .cajaFormularioGenerarReporte ::placeholder {
    font-size: 32px;
  }

  .titulo label {
    font-size: 32px;
  }

  .cajaIngresodatos input,
  select {
    height: 60px;
    font-size: 40px;
  }

  input {
    height: 60px;
  }

  .cajaIngresodatos ::placeholder {
    font-size: 20px;
  }

  select {
    height: 60px;
    font-size: 20px;
  }

  button {
    height: 60px;
    font-size: 20px;
  }

  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

  .modalContent {
    padding: 10px;
  }

  .captureButton {
    padding: 8px 12px;
    font-size: 18px;
  }
}
